<style>
    footer {
      background-color: #343a40;
      /* color: #ffffff; */
      padding: 2rem 0;
    }
    .f-info {
      text-align: center;
    }
    .f-info-socials i {
      /* margin: 1px 10px; */
      padding-top: 3px;
      color:#957a7b ;
      font-size: 2rem;
      transition: color 0.3s ease;
    }
    .f-info-socials i:hover {
      color: #ff5a5f;
    }
    .f-info-brand {
      margin-top: 1px;
      font-size: 1.1rem;
      color:#957a7b ;
    }
    .f-info-links {
      margin-top: 1px;
    }
    .f-info-links a {
      margin: 0 15px;
      color:#957a7b ;
      /* background-color: #343a40; */
      text-decoration: none;
      transition: color 0.3s ease;
    }
    .f-info-links a:hover {
      color: #ff5a5f;
    }
  </style>


  <footer>
    <div class="container">
      <div class="row f-info">
        <div class="col-12 mb-3">
          <div class="f-info-socials">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
          </div>
        </div>
        <div class="col-5 mb-3">
          <div class="f-info-brand">&copy; Wanderlust Private Limited</div>
        </div>
        <div class="col-12">
          <div class="f-info-links">
            <a href="/Privacy">Privacy</a>
            <a href="/Terms">Terms</a>
          </div>
        </div>
      </div>
    </div>
  </footer>
